<!-- Footer area start -->
<section id="footer-area">
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-12">
                <img src="resources/assets/images/footer/foo-curve.png" alt="" style="vertical-align: middle; width: 100%;">
                <p class="footer-text">
                    Susu Family Blog
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Footer area end -->
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"></a>