<!-- Header start -->
<header class="header-area">
    <!-- Top Header Start -->
    <div class="top-header">
        <div class="container">
            <div class="col-12">
                <div class="top-header-content d-flex">
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" class="form-control"
                                   placeholder="Search and hit enter...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="top-social-info">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->

    <!-- Logo Area Start -->
    <div class="logo-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#">
                        <img src="resources/assets/images/LogoSusuBlog_ByTailorBrands.jpg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Logo Area End -->

    <!-- Navbar Area start -->
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar">
        <a class="navbar-brand menu-logo" href="#">
            <img src="resources/assets/images/LogoSusuBlog_ByTailorBrands1.jpg" width="50" height="50" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center main-menu" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Susu
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Food
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Travel
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar Area End -->
</header>
<!-- Header End -->