{% extends "templates/app.twig" %}

{% block content %}
    <div class="containe-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="home_header">
                    Latest Images
                </h3>
            </div>
            <div class="col-12">
                <div class="home_images">
                    <div class="column">
                        <img src="resources/assets/images/gallery/slides/image (1).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (2).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (3).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (4).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (5).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (6).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (7).jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="resources/assets/images/gallery/slides/image (1).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (2).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (3).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (4).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (5).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (6).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (7).jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="resources/assets/images/gallery/slides/image (8).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (9).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (10).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (11).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (12).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (13).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (14).jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="resources/assets/images/gallery/slides/image (15).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (16).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (17).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (18).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (19).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (20).jpg" style="width:100%">
                        <img src="resources/assets/images/gallery/slides/image (21).jpg" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}