<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="resources/assets/css/3rd/font-awesome.min.css"/>
    <link rel="stylesheet" href="resources/assets/css/3rd/bootstrap.min.css">

    <script src="resources/assets/js/3rd/jquery.min.js"></script>
    <script src="resources/assets/js/3rd/popper.min.js"></script>
    <script src="resources/assets/js/3rd/bootstrap.min.js"></script>
    <script src="resources/assets/js/3rd/jquery.scrollUp.min.js"></script>
    <script src="resources/assets/js/3rd/jssor.slider.min.js"></script>

    <link rel="stylesheet" href="resources/assets/css/1.css"/>
    <script src="resources/assets/js/1.js"></script>

    <title>Blog - Susu Family</title>
</head>

<body>
{% include 'templates/partials/header.twig' %}

<!-- Home page Area start -->
<section id="home-body" style="margin-top:10px;">
    {%  block content  %}{%  endblock %}
</section>
<!-- Home page Area end -->

{% include 'templates/partials/footer.twig' %}
</body>
</html>